/* hidden header  */
body > .skiptranslate {
	display: none;
    color: white;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link{
display: none;
color: white;
}
.goog-te-gadget{
    color: white !important;
}
.bannerSubtitle{
    width: 600px;
}